# Ignore Python virtual environment and pycache
flaskenv/
.vscode/
__pycache__/

# Ignore upload dirs
run4it/uploads/

# PyTest
.pytest_cache

# Ignore dev and test db
*.db

#Ignore flaskenv file
.flaskenv
